#kt_app_main {
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
}

#logo {
    background-color: #1E293B;
    height: 105px;
}


#welcome-banner {
    background-color: #0F172A;
    border-radius: 7px;
}

.hover-scroll-overlay-y, .hover-scroll-y {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hover-scroll-overlay-y, .hover-scroll-y::-webkit-scrollbar {
    display: none;
}

body {
    overflow: auto;
    scrollbar-width: none!important;
    -ms-overflow-style: none!important;
}

body::-webkit-scrollbar {
    display: none!important;
}

.banner {
    padding: 1.5rem;
}

#banner-font-h {
    color: #E5E7EB!important;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

#banner-font-p {
    color: #E5E7EB!important;
    font-size: 16px;
}

button .btn.dropdown-toggle::after {
    display: none;
}

.border-gradient-red {
    border-radius: 10px;
}

.border-gradient-red::before {
    content: '';
    position: absolute;
    top: -5px; /* Atur posisi elemen pseudo */
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: inherit; /* Mengikuti sudut melengkung elemen */
    background: linear-gradient(to bottom, #FF520D, #1E293B);
    z-index: -1; /* Memastikan elemen pseudo berada di belakang elemen utama */
}

.border-gradient-yellow {
    border-radius: 10px;
    position: relative; /* Tambahkan ini untuk elemen pseudo agar bisa diposisikan relatif terhadap elemen ini */
}

.border-gradient-yellow::before {
    content: '';
    position: absolute;
    top: -5px; /* Atur posisi elemen pseudo */
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: inherit; /* Mengikuti sudut melengkung elemen */
    background: linear-gradient(to bottom, #FFCA0D, #1E293B);
    z-index: -1; /* Memastikan elemen pseudo berada di belakang elemen utama */
}

.border-gradient-green {
    border-radius: 10px;
    position: relative; /* Tambahkan ini untuk elemen pseudo agar bisa diposisikan relatif terhadap elemen ini */
}

.border-gradient-green::before {
    content: '';
    position: absolute;
    top: -5px; /* Atur posisi elemen pseudo */
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: inherit; /* Mengikuti sudut melengkung elemen */
    background: linear-gradient(to bottom, #A6E13E, #1E293B);
    z-index: -1; /* Memastikan elemen pseudo berada di belakang elemen utama */
}

.bg-green-500 {
    background-color: green;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.bg-yellow-500 {
    background-color: yellow;
    color: black;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.bg-red-500 {
    background-color: red;
    color: white;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
}

.form-check-inline {
    margin: 0 10px; /* Adjust as needed */
    flex: 1;
}

.form-check-inline:first-child {
    margin-left: 0;
}

.form-check-inline:last-child {
    margin-right: 0;
}